.big-container {
	display: flex;
	justify-content: center;
	gap: 30px;
	margin-top: 7%;
	font-family: 'Montserrat', sans-serif;
}

.container1 {
	text-align: center;
	width: 40%;
	height: 800px;
}
.container2 {
	width: 40%;
	height: 800px;
}

#first-image {
	text-align: center;	
	width: 60%;
	border-radius: 10px;
}

#list {
	display: flex;
	width: 92%;
	gap: 12px;
	text-align: center;
	justify-content: center;
	margin-left: -15px;
}

.small-images {
	width: 14%;
	border-radius: 5px;
	cursor: pointer;
}

#Company-title {
	color: orange;
	font-size: 17px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;}

#product-title {
	color: #000030;
	padding: 18px;
	padding-left: 0px;
	font-size: 40px;
	font-weight: 600;
}

#description {
	color: gray;
}

#price {
	display: inline-block;
	font-size: 25px;
	padding-top: 80px;
	font-weight: 600;
	padding: 15px;
	padding-left: 0px;
}

#discount {
	display: inline-block;
	text-align: center;
	margin: 10px;
	width: 50px;
	background-color: rgba(242, 212, 156, 0.499);
	color: rgba(240, 159, 6, 0.853);
	border-radius: 4px;
	font-size: 18px;
	font-weight: bold;
}

#old-price {
	color: gray;
	font-weight: bold;
	font-size: 14px;
	text-decoration-line: line-through;
	text-decoration-color: gray;

}