@media screen and (max-width: 1000px) {
	.big-container {
		display: grid;
		text-align: center;
		justify-items: center;
	}
	.container1 {
		height: 300px;
		width: 400px;
	}
	.container2 {
		width: 400px;
	}
	#lower-box {
		display: grid;
		justify-items: center;
	}
	.topnav a {
		display: none;
	}
	.active {
		float: none;
		text-align: center;
	}
	#info-empty {
		font-size: 15px;
		height: 150px;
		width: 250px;
	}
	#button-checkout {
		width: 200px;
	}
	#close {
		font-size: 14px;
	}
	#closed {
		font-size: 14px;
	}
	#info {
		height: 240px;
		width: 280px;
	}
}

@media screen and (max-width: 700px) {
	#info-empty {
		position: absolute;
		right: 10px;
		font-size: 15px;
		height: 150px;
		width: 250px;
	}
	#info {
		position: absolute;
		right: 10px;
		height: 240px;
		width: 280px;
	}
}