body {
	font-family: 'Barlow', sans-serif;
}

.topnav {
	font-family: 'Barlow', sans-serif;
    background-color: transparent;
    overflow: hidden;
	margin-top: 30px;
  }

.topnav a {
    float: left;
	margin-left: 30px;
    color: black;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px;
	transition: 0.4s;
	color: gray;
}

.nav {
	margin-top: 10px;
}

.nav:hover {
	border-bottom: 4px solid orange;
	color: black;
}

.active {
	float: left;
	padding: 30px;
}

.right-nav {
	float: right;
	width: 50px;
	margin-top: 20px;
}

.right-navs {
	float: right;
	width: 60px;
}

.right-navs:hover {
	border: 2.8px solid orange;
	border-radius: 35px;
	cursor: pointer;
}